<header class="flex">
  <img
    alt="Nx logo"
    width="75"
    src="https://nx.dev/assets/images/nx-logo-white.svg"
  />
  <h1>Welcome to {{ title }}!</h1>
</header>
<main>
  <button type="button" (click)="reload()">Reload</button>

  <h2>Feature enabled</h2>
  <p>{{isFeatureEnabled | async | json}}</p>

  <h2>Feature parse JSON</h2>
  <p>{{featureParseJSON | async | json}}</p>

  <h2>Feature boolean</h2>
  <p>{{feature_boolean | async | json}}</p>

  <h2>Feature string</h2>
  <p>{{feature_string | async | json}}</p>

  <h2>Feature JSON</h2>
  <p>{{feature_json | async | json}}</p>

  <h2>Features</h2>
  <details *ngFor="let item of getFeatures | async">
    <summary>{{item.name}}</summary>
    <pre>
# Tipo
{{item.type}}

# Valor
{{item.value}}
    </pre>
  </details>
</main>
